.custom__product__page__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 6rem;
}

.custom__product__page__upper {
  border-bottom: 2px solid var(--color-border);
  padding: 0 1rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

.custom__product__page__image__container {
  width: 40%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.top__buttons__container {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rm;
  padding: 0.5rem;
}

.top__buttons__container > button {
  box-sizing: border-box;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 8rem;
  height: 3rem;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  @media screen and (max-width: 1224) {
    font-size: 0.9rem;
    padding: 0.25rem;
  }
}

.top__buttons__container > button > img,
.bottom__buttons__container > button > img {
  width: 1rem;
}

.custom__product__img__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
}

.custom__product__page__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.input-text-box {
  position: absolute;
  top: 5px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-skyblue);
  border-radius: 0.25rem;
  border: 1px solid var(--color-primary);
}

.input-text-size,
.input-text-color {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-skyblue);
  border-radius: 0.25rem;
  border: 1px solid var(--color-primary);
}

.custom-text {
  position: absolute;
  top: 4rem;
  left: 4rem;
  cursor: pointer;
}

.input-text-box > input {
  border-radius: 0.25rem;
  width: 85%;
  padding: 0.5rem;
}

.input-text-box > button {
  display: grid;
  width: 15%;
  color: rgb(255, 71, 95);
  place-items: center;
}

.input-text-color > button,
.input-text-size > button {
  color: rgb(255, 71, 95);
  display: grid;
  place-items: center;
}

.input-text-color {
  width: 45%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  overflow-y: auto;
  border-top: 1px solid var(--color-border);
}

.input-text-color > input {
  width: 80%;
}

.input-text-color > p {
  font-size: 0.8rem;
}

.input-text-color > .choose {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 0.5px solid var(--color-border);
}

.input-text-color,
.font-styles-popup-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 40%;
  overflow-y: auto;
  background-color: rgb(216, 244, 255);
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-primary);
}

.input-text-color::-webkit-scrollbar:vertical,
.font-styles-popup-menu::-webkit-scrollbar:vertical {
  width: 0.5rem;
}

.input-text-color::-webkit-scrollbar:horizontal {
  display: none;
}

.font-styles-popup-menu > ul > li {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid rgba(4, 66, 90, 0.623);
}

.bottom__buttons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 0.5rem;
  width: max-content;
  height: max-content;
  padding: 0.5rem;
  width: 100%;
}

.bottom__buttons__container > button {
  background-color: var(--color-secondary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  min-width: max-content;
  gap: 0.25rem;
  border-radius: 0.25rem;
}

.custom__product__shop__options {
  width: 50%;
}

.custom__product__shop__title {
  display: flex;
  flex-direction: column;
}

.custom__product__shop__title__text {
  font-family: var(--font-arimo);
}

.custom__product__page__price > p > span:nth-child(1) {
  text-decoration: line-through;
  color: var(--color-gray);
  font-family: var(--font-lato);
  font-weight: 700;
}

.custom__product__page__price > p > span:nth-child(2) {
  color: var(--color-buttons);
  font-family: var(--font-lato);
  font-weight: 700;
}

.custom__product__description > p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  color: var(--color-text);
}

.qty__cart {
  display: flex;
  margin: 0.8rem 0;
  gap: 1.5rem;
}

.button-group {
  display: flex;
  width: fit-content;
  height: 2rem;
}

.button-group > button {
  border: 1px solid #ebebeb;
  background-color: #fbfbfb;
  width: fit-content;
  text-align: center;
  padding: 0.25rem 1rem;
  height: 100%;
}

.button-group > div {
  text-align: center;
  padding: none;
  width: 4rem;
  height: 100%;
  background: #ffffff;
  box-shadow: inset 5px 5px 7px #f0f0f0, inset -5px -5px 7px #ffffff;
  border-top: 2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  display: grid;
  place-items: center;
}

.add__to__cart {
  width: fit-content;
  background: var(--color-buttons);
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 0.2rem 1.8rem;
}

.tags > .ctgr {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  gap: 0.25rem;
  font-size: 0.8rem;
  color: var(--color-text);
}

.custom__product__options__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.custom__product__options__btn button {
  width: 9rem;
  background: var(--color-buttons);
  color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.5rem;
}

.custom__product__page__bottom {
  width: 98%;
}

.custom__product__page__bottom > .custom__product__bottom__btn__container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.custom__product__page__bottom
  > .custom__product__bottom__btn__container
  > button {
  background-color: var(--color-buttons);
  color: white;
  font-family: var(--default-font);
  font-weight: 500;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.custom__product__title > h2 {
  margin: 1.5rem auto;
  font-family: var(--default-font);
  font-weight: 600;
  text-align: center;
}

.custom__product__info {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}

.custom__product__technical {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: var(--default-font);
  font-weight: 300;
}

.custom__product__technical > p > b {
  font-weight: 500;
}

.custom__product__technical > ul {
  font-size: 1rem;
  font-family: var(--default-font);
}
.custom__product__technical > ul > li {
  list-style-type: disc;
  line-height: 2rem;
  margin-left: 1.25rem;
}
.react-resizable-handle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

/* ==================================================== For Small Screens ==================================================== */

@media (min-width: 240px) and (max-width: 800px) {
  .custom__product__page__container {
    padding: 0.5rem;
  }
  .custom__product__page__upper {
    border-bottom: 1px solid rgba(189, 189, 189, 0.541);
    padding: 0 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
  }
  .custom__product__page__image__container {
    width: 100%;
  }
  .top__buttons__container > button {
    gap: 0.25rem;
    width: 6rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    height: 3rem;
  }
  .top__buttons__container > button > img {
    width: 1rem;
  }
  .custom__product__img__container > img {
    width: 100%;
  }
  .custom__product__shop__options {
    width: 100%;
  }
  .custom__product__shop__title,
  .ratings {
    margin: 0.25rem 0;
  }
  .custom__product__options__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem 0;
  }
  .custom__product__page__bottom {
    width: 96%;
    margin-top: 0.25rem;
  }
  .custom__product__technical {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--default-font);
    font-weight: 300;
  }
  .custom__product__technical > p > b {
    font-weight: 500;
  }

  .custom__product__technical > ul {
    font-size: 0.9rem;
    font-family: var(--default-font);
  }

  .custom__product__technical > ul > li {
    list-style-type: disc;
    line-height: 2rem;
    margin-left: 1.25rem;
  }
}
